# Puertos expuestos en el Host
BACKEND_PORT=4000
ML_SERVICE_PORT=4001
POSTGRES_PORT_HOST=4002
REDIS_PORT_HOST=4003
TELEMETRY_PORT=3000

# Configuración Base de Datos PostgreSQL
POSTGRES_DB=BiomecanicSport
POSTGRES_USER=biomecanic_user
POSTGRES_PASSWORD=cambiar_esta_contraseña
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Configuración Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Configuración Django
DJANGO_SECRET_KEY=generar-clave-segura
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Configuración Microservicio ML (conexión interna en Docker)
ML_SERVICE_HOST=ml_service
